{% extends 'app/products/list.html.twig' %}

{% block details %}
    <turbo-frame class="col-4 hide-empty" id="details">
        {% embed 'app/embedded/card.html.twig' %}
            {% block header %}
                Details <a href="{{ path('app_products_list') }}" class="bi bi-x-circle" data-turbo-frame="main" data-turbo-action="advance"></a>
{#            Details <i class="bi bi-x-circle" {{ stimulus_controller('empty-frame') }}></i>#}
            {% endblock header %}
            {% block body %}
            {{ product.name }}
            {% endblock %}
        {% endembed %}
    </turbo-frame>
{% endblock %}
