{% extends 'admin/users/list.html.twig' %}

{% block inner -%}
    <div class="row">
        <div class="col-lg-12">
            {{ form_errors(form) }}
            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
            {{ form_rest(form) }}
            <button type="submit">Submit</button>
            {{ form_end(form) }}
        </div>
    </div>
{%- endblock inner %}
