{% extends 'app/vehicles/list.html.twig' %}

{% block inner -%}
    {% embed 'app/embedded/form.html.twig' %}
        {% block form %}
            <div class="row pt-3">
                <div class="col">
                    {{ form_rest(form) }}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{%- endblock inner %}
