<div class="card">
    <div class="card-header hide-empty">{% block header -%}{%- endblock %}</div>
    <div class="card-body">{% block body '' %}</div>
    <div class="card-footer hide-empty">{% block footer -%}{%- endblock footer %}</div>
</div>
